/* ==============================================================
 * Filename : main.less
 * --------
 * Central less file for application. You will be adding specific @import 
 * less files for your application using @import "subfolder/main.less".
 * Create main.less on subfolders and import less files within that folder.
 * Treat css as modules.
 ================================================================*/
/* Shared / Common / Bootstrap.less
 * ==============================================================*/
/* Bootstrap Variables */
/* Bootstrap Mixins */
/* Common/Fonts */
@font-face {
  font-family: 'ProxBold';
  src: url('/assets/fonts/prox/proxbold.eot');
  src: url('/assets/fonts/prox/proxbold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/prox/proxbold.woff') format('woff'), url('/assets/fonts/prox/proxbold.ttf') format('truetype'), url('/assets/fonts/prox/proxbold.svg#ProxBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Lesshat Helpers */
/* Plugin Specifics
 * ==============================================================*/
/* Angular Loading Bar for ChieffyPants */
/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}
#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}
#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}
#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#loading-bar .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 100;
  top: 10px;
  left: 10px;
}
#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 10px;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite;
}
@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-bar-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-bar-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading-bar-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loading Spinners */
.container-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: table;
  z-index: 99999999;
  background-color: rgba(34, 34, 34, 0.65);
}
.container-loader:before {
  position: absolute;
  bottom: -60px;
  left: 50%;
  display: table-cell;
  width: 50px;
  margin-left: -25px;
  content: "Loading...";
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: rgba(0, 174, 239, 0.8);
  -webkit-animation: pulse 2s inf /*inite linear;
        animation: pulse 2s infinite linear;*/;
}
@keyframes pulse {
  from {
    transition: opacity 200ms ease-in;
    opacity: 0.5;
  }
  to {
    transition: opacity 200ms ease-in;
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  from {
    transition: opacity 200ms ease;
    opacity: 0.7;
  }
  to {
    transition: opacity 200ms ease;
    opacity: 1;
  }
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(359deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}
@-ms-keyframes rotation {
  from {
    -ms-transform: rotate(359deg);
  }
  to {
    -ms-transform: rotate(0deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.spinner {
  /*position: relative;
    top: 0;
    left: 0;*/
  z-index: 1051;
  width: 32px;
  height: 32px;
  margin: 25% auto;
  border: 8px solid rgba(0, 174, 239, 0.15);
  border-radius: 32px;
  -webkit-animation: rotation 0.46s infinite linear;
  animation: rotation 0.46s infinite linear;
}
.spinner:before {
  position: absolute;
  top: -8px;
  left: -8px;
  display: block;
  width: 32px;
  height: 32px;
  border-top: 8px solid rgba(0, 174, 239, 0.8);
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-radius: 32px;
  content: " ";
}
/* Main Application Module
 * ==============================================================*/
/* Main Application */
/* ==============================================================
 * Filename : application.less
 * --------
 * Central less file for application. You will be adding specific @import 
 * less files for your application using @import "subfolder/main.less".
 * Create main.less on subfolders and import less files within that folder.
 * Treat css as modules.
 ================================================================*/
/* Dashboard
 ==============*/
/* ==============================================================
 * Filename : main.less
 * --------
 * You will be using @import feature.less or just add your less
 * files in this file.
 ================================================================*/
/* Dashboard
 ==============*/
/* ==============================================================
 * Filename : test.less
 * --------
 * Add your notes here.
 ================================================================*/
/* ==================== LAYOUT ========================= */
/* ==================== TYPOGRAPHY ========================= */
/* ==================== HELPER/UTILITY ========================= */
/* ==================== LAYOUT ========================= */
/* ==================== TYPOGRAPHY ========================= */
/* ==================== HELPER/UTILITY ========================= */
/* ==================== LAYOUT ========================= */
.ui-main-view {
  height: 100%;
}
/* ==================== TYPOGRAPHY ========================= */
/* ==================== HELPER/UTILITY ========================= */
/* ==============================================================
 * Filename : utility.less
 * --------
 * Add your notes here.
 ================================================================*/
/* ==================== LAYOUT ========================= */
/* ==================== TYPOGRAPHY ========================= */
/* ==================== HELPER/UTILITY ========================= */
